{% extends 'base.html' %}

{% block title %}My Profile{% endblock %}

{% block content %}
<a href="/">Take me home</a>
	<h2>My Profile</h2>
	<h3>{{user.username}}</h3>
	<form action = "/app/upload">
		<input type="submit" value="Upload a New Image" />
	</form>
	<table>
		<thead>
			<tr>
			<th>My Images</th>
			</tr>
		</thead>
		<tbody>
			{% for image in images %}
			<tr>
				<td><a href="/app/images/{{image.0}}"><img src="/media/{{ image.1 }}"</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
